dub.userprefs
detty
dub.selections.json
bin
.dub
docs.json
__dummy.html
*.o
*.a
*.so
*.obj
/obj
/bin
*.userprefs
/collie
performance_test
performance_test/*
core
callgrind.*
.directory
.vscode
/trace.*
__test__library__
*.kdev4
core
/build
.idea
*.suo
*.exe
*.dll
__test__*__
examples/socket/http/HttpServer/http-server
examples/socket/echo/MultiClient/multi-client
examples/pipeline/echo/multiclient/client
examples/socket/echo/TcpServer/.gitignore.swp
collie-test-default
