dub.userprefs
detty
dub.selections.json
bin
.dub
docs.json
__dummy.html
*.o
*.a
*.so
*.obj
/obj
/bin
*.userprefs
/collie
performance_test
performance_test/*
core
callgrind.*
.directory
/trace.*
__test__library__
*.kdev4
core
/build
.idea
*.lib
*.suo
*.exe
*.dll
